option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: lavoura_inteligente/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: lavoura_inteligente.settings
    DJANGO_DEBUG: False
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: media
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "python manage.py createsuperuser --noinput || true"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_create_media_dir:
    command: "mkdir -p media/talhoes"
  05_permissao_arquivo_sqlite:
    command: "chmod 666 db.sqlite3"
  06_permissao_pasta_sqlite:
    command: "chmod 777 ."